@charset "utf-8";
/* CSS Document */

bdy, hml{
	height:100%;
}
#container{
	width:90%;
	top:0px;
	bottom:0px;
  	margin-left: auto ;
  	margin-right: auto ;
	position:fixed;
}


	
#header_img{	

	background-image: linear-gradient(bottom, rgb(219,37,37) 38%, rgb(204,25,34) 55%);
	background-image: -o-linear-gradient(bottom, rgb(219,37,37) 38%, rgb(204,25,34) 55%);
	background-image: -moz-linear-gradient(bottom, rgb(219,37,37) 38%, rgb(204,25,34) 55%);
	background-image: -webkit-linear-gradient(bottom, rgb(219,37,37) 38%, rgb(204,25,34) 55%);
	background-image: -ms-linear-gradient(bottom, rgb(219,37,37) 38%, rgb(204,25,34) 55%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.38, rgb(219,37,37)),
		color-stop(0.55, rgb(204,25,34))
	);
	
	
	
	border:#C03;
	
	
	-moz-box-shadow: 2px 10px 27px #000000;
	-webkit-box-shadow: 2px 10px 27px #000000;
	box-shadow: 2px 10px 27px #000000;
	background-repeat:no-repeat;
	position:absolute;
	
	
	
}

img{
	max-height:100%;
	min-height:100%;
	max-width:100%;
	min-width:100%;
	
}

#header_img{
	
	position:fixed;
	margin:0 auto;	
	width:80%;
	top:0%;
	left:10%;
	right:10%;
	height:20%;
	z-index:2;
}



.msg_bar{
	
	margin:0 auto;
	position:fixed;
	position:fixed;
	top:20%;
	right:15%;
	height:30%;
	width:5%;
	background-color:rgb(32,32,32); 
	
}




.feed_box{
	position:fixed;
	margin:0 auto;
	margin-left: auto ;
  	margin-right: auto ;
	top:20%;
	left:15%;
	bottom:2%;
	width:60%;
	z-index:1;
	-moz-box-shadow:inset -1px 1px 5px #000000;
	-webkit-box-shadow:inset -1px 1px 5px #000000;
	box-shadow:inset -1px 1px 5px #000000;
}

#modalInset{

         /* fallback */
			  background-color: #fff;
			    background-position: center center;
  		background-repeat: no-repeat;
			
			  /* Safari 4-5, Chrome 1-9 */
			  /* Can't specify a percentage size? Laaaaaame. */
			  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#fff), to(#fffdc0));
			
			  /* Safari 5.1+, Chrome 10+ */
			  background: -webkit-radial-gradient(circle, #fff, #fffdc0);
			
			  /* Firefox 3.6+ */
			  background: -moz-radial-gradient(circle, #fff, #fffdc0);
			
			  /* IE 10 */
			  background: -ms-radial-gradient(circle, #fff, #fffdc0);

}


#modalInset, .msg_bar{
	opacity:.7;
	filter:alpha(opacity=40); 
}

.loginPage{
	position:fixed;
	margin:0 auto;
	margin-left: auto ;
  	margin-right: auto ;
	top:27%;
	left:15%;
	bottom:2%;
	width:70%;
	background-image:url(mochaGrunge.png);
	z-index:1;
	-moz-box-shadow:inset -1px 1px 5px #000000;
	-webkit-box-shadow:inset -1px 1px 5px #000000;
	box-shadow:inset -1px 1px 5px #000000;
}

.login{
	position:fixed;
	top:30%;
	left:20%;
	height:60%;
	width:60%;
	height:64%;
	z-index:2;
	background:rgba(81, 88, 95, .5);
	
   -webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);

	-webkit-border-radius:10px;
	border-radius:10px;
	
	
	
	-moz-box-shadow:inset 2px 1px 17px #000000;
	-webkit-box-shadow:inset 2px 1px 17px #000000;
	box-shadow:inset 2px 1px 17px #000000;
}

input[type=text]
{
	
	position:fixed;
	top:40%;
	left:45%;
    background-color: #BFBDBD;
    border:solid 1px #BFBDBD;
    color: black;
    height: 5%;
    width: 20%;
	font-size:100%;
	padding-left:1%;
    box-shadow: 2px 2px 0 #828181 inset;
}
input[type=text]:focus{
	background:white;
	
}
input[type=submit]
{
	position:fixed;
	top:40%;
	left:68%;
    background-color: #1E1E1E;
    color: #979797;
    height: 5%;;
    width: 10%;
    color: #bbbbbb;
    text-transform:uppercase;
    box-shadow:-1px 2px #6E6B6A inset;
	padding:1.2%;
		
}
input[type=submit]:active{
	background:grey;
}

input[type=button], input[type=text]
{
	z-index:6;
    border-radius: 5px;
    font-family: Sansation;
}
