.back{
background: rgb(170,25,0);
background: -moz-linear-gradient(top,  rgba(170,25,0,1) 0%, rgba(229,0,0,1) 50%, rgba(170,25,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,25,0,1)), color-stop(50%,rgba(229,0,0,1)), color-stop(100%,rgba(170,25,0,1)));
background: -webkit-linear-gradient(top,  rgba(170,25,0,1) 0%,rgba(229,0,0,1) 50%,rgba(170,25,0,1) 100%);
background: -o-linear-gradient(top,  rgba(170,25,0,1) 0%,rgba(229,0,0,1) 50%,rgba(170,25,0,1) 100%);
background: -ms-linear-gradient(top,  rgba(170,25,0,1) 0%,rgba(229,0,0,1) 50%,rgba(170,25,0,1) 100%);
background: linear-gradient(to bottom,  rgba(170,25,0,1) 0%,rgba(229,0,0,1) 50%,rgba(170,25,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa1900', endColorstr='#aa1900',GradientType=0 );

}


#createcard{
background-color: #444444;
border:0px;
width: 30%;
height:30%;
margin:35%;
padding-left:10px;
padding-right:10px;
padding-top: 5px;
padding-bottom:5px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.card{
background-color: white;
padding-top:5px;
padding-bottom:5px;
padding-left:2.5%;
padding-right:2.5%;
margin-bottom: 5px;
-moz-border-radius: 3px;
border-radius: 3px;

}

h1{
font-family:"Arial", sans-serif;
color:white;
font-size:28px;
margin:2px;
}

p{
margin-top:2px;
margin-bottom:2px;
color:#444444;
}

::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: transparent; }